.time1 {
  position: absolute;
  background-image: url('../../assets/pictures/Login bg.png');
  margin-bottom: 3px;
  width: 100vw; /* 100% of viewport width */
  background-size: cover;
  background-position: center;
    height: 87vh;
    overflow: hidden;
    /* padding: 30px;
    z-index: 1; */
}


.timetable-container {
    width: 80%;
    /* height: 90%; */
    margin: auto;
    font-family: Inter;
    /* background-color: #eae8e6;
    padding: 40px;
    margin-top: 50px; */
  }

  
  .timetable {
    width: 95%;
    border-collapse: collapse;
    background-color:white;
    font-size: 20px;
    /* margin-left:  40px; */

  }
  
  .timetable th,
  .timetable td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  .timetable th {
    background-color: #f2f2f2;
  }
  
  .timetable tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .timetable tr:hover {
    background-color: #ddd;
  }
  h1{
    text-align: center;
    font-weight:bold;
   
  }
  .buttn23{
   
      position:fixed;
      border: none;
      width: 150px;
      height: 50px;
      padding: 0px;
      text-align: center;
      text-decoration: none;
      font-weight: bold;
      font-family: Inter;
      font-size: 16px;
      border-radius: 10px;
      margin-left: 60px;
      margin-bottom: 100px;
      transition-duration: 0.4s;
      cursor: pointer;
      top: 35%;
      left: 46%;
      transform: translate(-50%, -50%);
    
  }

  .flipping {
    transform: rotateY(-180deg); /* Example rotation for flipping animation */
  }
  
  .flipping-gif {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }